.wrapper {
    display: flex;
    border: 1px dotted burlywood;
    padding: 10px;
    justify-content: space-between;
}

.content2 {
    display: flex;
    border: 1px solid rgb(148, 30, 56);
    margin: 5px;
}

.content2__element {
    height: 100px;
    width: 200px;
    padding: 5px;
    margin: 10px;
}

.content2__element--blue {
    background-color: blue;
}

.content2__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border: 1px dotted gold;
    padding: 2px;
}

.content2__date {
    height: 5px;
    width: 50px;
    background-color: brown;
}

.content2__time {
    height: 5px;
    width: 50px;
    background-color: crimson;
}

.content2__title {
    height: 5px;
    width: 100px;
    background-color: blanchedalmond;
}

.content2__image {
    height: 20px;
    width: 150px;
    background-color: cadetblue;
    margin: 5px 0;
}

.content2__bottom {
    display: flex;
    justify-content: space-between;
    border: 1px dotted rgb(177, 159, 61);
    padding: 2px;
}

.content2__link {
    height: 5px;
    width: 40px;
    background-color: burlywood;
}

.content2__basket {
    height: 5px;
    width: 40px;
    background-color: chartreuse;
}

.content2__element--green {
    background-color: green;
}

.content2__element--yellow {
    background-color: yellow;
}

.content3 {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    padding: 20px;
    margin: 10px;
    border: 1px solid burlywood;
    gap: 40px 20px;
}

.content3__element {
    height: 70px;
    width: 100px;
    border: 1px dotted khaki;
    background-color: #c92828;
}

.content4 {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid firebrick;
    justify-content: center;
    align-items: center;
}

.content4__title {
    width: 300px;
    height: 50px;
    background-color: #bb1010;
    margin-bottom: 20px;
}

.content4__text {
    width: 400px;
    height: 100px;
    background-color: #3634a1;
}

.content5 {
display: flex;
width: 540px;
height: 200px;
padding: 20px;
margin: 20px auto;
border: 1px double hotpink;
}

.content5__element {
    width: 100px;
    height: 160px;
    background-color: #c92828;
    flex-grow: 1;
}

.content5__element--2 {
    width: 100px;
    height: 160px;
    background-color: plum;
    flex-grow: 2;
}

.content6 {
    display: flex;
    width: 640px;
    margin: 0 auto;
    gap: 20px;
    padding: 10px;
    border: 1px dotted firebrick; 
    flex-wrap: wrap;
}

.content6__element--first {
    flex-shrink: 0;
}

.content6__element {
    width: 140px;
    height: 80px;
    background-color: #a82323;
    flex-shrink: 0;
}