.content {
    display: flex;
    flex-direction: row;
    border: 1px solid blueviolet;
    justify-content: space-evenly;
    align-items: flex-end;
}

.content__box {
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    width: 50px;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__box--big {
    height: 100px;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}